/* Reset básico e definição de fontes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: #F8F5F0; /* Fundo suave */
}

p {
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.5em;
}

h2 {
    margin-left: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 2.5em;
}

h3 {
    font-family: "Afacad Flux", sans-serif;
}

/* Estilos do Header */
header {
    font-size: 0.8em;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(36, 34, 33, 1); /* Opacidade total */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s, opacity 0.3s;
    z-index: 1000;
    border-radius: 0px 0px 5px 2px;
}

.menu {
    background-color: #ba242400;
    border-radius: 10px;
    padding: 15px 20px;
}

#ctt {
    background-color: #c11212;
    border-radius: 5px;
    font-size: 1em;
}

.container-logo {
    display: flex;
    align-items: center;
}

.logo-texto img {
    width: 200px;
    height: auto;
}

header a {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

header a:hover {
    text-decoration: underline;
}

/* Transição suave ao descer */
html {
    scroll-behavior: smooth;
}

/* Estilos do menu */
.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 20px;
}

.menu li a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.menu li:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transform: scale(1.09);
}

/* Estilos do Main */
main h1 {
    font-family: "Rubik", sans-serif;
    font-size: 4.5em;
    margin-left: 150px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.667);
    text-align: left;
}

main h4 {
    font-family: "Rubik", sans-serif;
    font-size: 2.5em;
    margin-left: 150px;
    margin-top: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.628);
    text-align: left;
}

/* Efeitos Parallax */
.parallax {
    background-image: url(imagens/poster\ 21.06.10.GIF);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

/* Seção Sobre */
.sobre {
    background-color: #242221;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.sobre h2 {
    text-align: left;
    color: #c11212;
    margin-left: 150px;
}

.sobre p {
    text-align: justify;
    width: 800px;
}

.sobre-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.sobre-texto {
    flex: 0 1 50%;
    margin-left: 150px;
    margin-right: 50px;
}

.sobre-video {
    margin-right: 150px;
}

.sobre iframe {
    border-radius: 5px;
    margin-right: 150px;
}

/* Seção Processo */
.processo {
    padding: 40px 20px;
    text-align: left;
    color: white;
}

.processo p {
    text-align: justify;
    color: #47403d;
    width: 800px;
    margin-left: 150px;
}

.processo h2 {
    margin-left: 150px;
    color: #c11212;
    margin-bottom: 30px;
}

.processo-content {
    display: flex;
    justify-content: space-between;
}

.processo-left {
    flex: 0 1 50%;
    padding-right: 20px;
}

.processo-right {
    flex-direction: column;
    gap: 24px;
}

.processo-item {
    font-family: "Afacad Flux", sans-serif;
    background-color: #F8F5F0;
    border: 0.3px solid #c11212;
    color: #242221;
    border-radius: 5px;
    padding: 20px 8px;
    width: 700px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-left: 100px;
    margin-right: 150px;
    margin-bottom: 10px;
}

.processo-item h3 {
    color: #c11212;
    font-size: 1.4em;
}

.processo-item:hover {
    transform: scale(1.05);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.228);
}

/* Geral faq e processo */

.info, .faq-info {
    font-family: "Afacad Flux", sans-serif;
}


/* FAQ */
.faq {
    padding: 40px 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.faq h2 {
    color: #c11212;
    text-indent: 10px;
}

.faq-item {
    font-family: "Afacad Flux", sans-serif;
    background-color: #F8F5F0;
    color: #242221;
    border: 0.3px solid #c11212;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.faq-item h3 {
    color: #c11212;
}

.faq-item:hover {
    transform: scale(1.025);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.228);
}

/* Rodapé */
.footer {
    padding: 40px 20px;
    text-align: left;
    background-color: #242221;
    color: white;
}

.footer h2 {
    margin-left: 150px;
    color: #c11212;
    margin-bottom: 20px;
}

.footer p {
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 150px;
}

.footer a {
    text-decoration: underline;
    color: white;
    font-family: "Afacad Flux", sans-serif;
}

/* Mapa */
.myMap {
    border-radius: 10px;
    margin-top: 20px;
    filter: grayscale(100%) invert(90%);
}

/* Transição suave de altura e opacidade para as informações */
.info, .faq-info {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.info.show, .faq-info.show {
    max-height: 300px;
    opacity: 1;
}

/* Boneca */
.boneca-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boneca {
    width: 700px;
    height: auto;
}
